<%- include('header.ejs') %>
    </head>

    <%- include('navigation.ejs') %>
        <div style="text-align: center;">
            <h1>Page not found!!</h1>
        </div>
        </body>

        </html>