<body style="margin: 0;">
    <header class="navigation">
        <ul class="navigation-list">
            <li>
                <a href="./" class=<%=url==='/' ? 'active' : '' %>>
                    Shop
                </a>
            </li>
            <li>
                <a href="./add-product" class=<%=url==='/add-product' ? 'active' : '' %>>
                    Add-Product
                </a>
            </li>
        </ul>
    </header>